body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
}


p {
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-weight: 500;
    /* transform: rotate(180deg); */
}

button {
    background-color: white;
    color: black;
    font-weight: 500;
    border-radius: 10px;
    padding: 15px 25px;
    border: 2px solid black;
    font-size: 15px;
}


button:hover {
    background-color: black;
    color: white;
}