* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* header */

#header {
  width: 100%;
  background-color: #111827;
  color: #fff;
  font-weight: 500;
  text-align: center;
  padding: 10px;
}

/* header end */

/* Navbar */
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 7px 0px rgba(117, 114, 114, 0.64);
  -webkit-box-shadow: 0px 2px 7px 0px rgba(117, 114, 114, 0.64);
  -moz-box-shadow: 0px 2px 7px 0px rgba(117, 114, 114, 0.64);
  width: 100%;
  padding: 20px 40px;
}

#nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  font-size: 16px;
  font-weight: 600;
}

#nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#login {
  transform: translateY(-3px);
  font-weight: 500;
}

#humburger {
  display: none;
}

/* Navbar end */

/*hero section */
#hero-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(249 250 251);
  padding: 100px;
}

#hero-section-left > h1 {
  font-size: 50px;
}

#hero-section-left > p {
  color: gray;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 18px;
}
#hero-section-left > button {
  background-color: #222d3c;
  padding: 10px 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

#hero-section-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#hero-section-right > img {
  height: 450px;
  width: 300px;
  object-fit: cover;
}

#hero-section-right-img-1 {
  transform: translateY(-30px);
}

/*hero section end */

/* media quries  */
@media (max-width: 1024px) {
  #humburger {
    display: inline-block;
  }

  #nav-center {
    display: none;
  }

  /* hero section */
  #hero-section {
    gap: 50px;
    padding: 25px;
  }

  #hero-section-left {
    width: 100%;
    text-align: center;
  }
  #hero-section-right {
    width: 100%;
  }

  #hero-section-right > img {
    width: 50%;
  }
  /* hero section end*/
}


@media (max-width: 576px) {
    #header {
        font-size: 12px;
        padding: 10px 15px ;
    }
    #hero-section-left > h1 {
        font-size: 25px;
    }
    #hero-section-left > p {
        font-size: 14px;
        margin-bottom: 20px ;
    }

    #hero-section-left > button {
        padding: 8px 40px;
        font-size: 14px;
    }

    #hero-section-right > img {
        height: 100%;
    }

    
}
/* media quries end */
