* {
  margin: 0;
  padding: 0;
}
/* ul > li {
    display: inline;
} */

li {
  list-style-type: none;
  border: 2px solid red;
}

ol {
  width: 500px;
  height: 500px;
  border: 2px solid red;
  display: flex;
  /* flex-direction: column; */
  justify-content: center; /*  after flex direction vertically */
  align-items: center; /*  after flex direction horizontally */
  row-gap: 15px;
  column-gap: 55px;
}
