/* .table {
  border: 2px solid black;
}
td {
  border: 2px solid black;
}


.hidden {
    display: none;
} */

#para {
  height: 50px;
  border: 2px solid red;
  overflow: hidden;
}

.showText {
  height: 300px !important;
}
